.wrapper
= render partial: 'header', locals: { tweets: @tweets }
.maincontent
  .left-content
    .left-content-up
    .left-content-down
  = render partial: 'center-content', locals: { tweets: @tweets }
  .right-content
    .right-content-up
    .right-content-down
