.mypage
  .mypage-image
  .mypage-lists
    %ul.mypage-list
      %li.mypage-list__tweet
        tweet
      %li.mypage-list__follow
        follow
      %li.mypage-list__follower
        follower
      %li.mypage-list__likes
        likes
    %ul.mypage-btn
      .mypage-btn__edit
        プロフィールを編集
