.header{
  width: 100vw;
  height: 10vh;
  background-color: $white;
  filter: drop-shadow(2px 2px 4px #000);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
   z-index: 20;
   .fab.fa-jenkins{
    color: black;
    background-color: white;
    border: 2px solid #8B4513;
   }
  .header-left{
    padding-left: 0px;
    height: 10vh;
    width: 25vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    &--home{
      color: $black;
      text-align: center;
      line-height: 10vh;
      .i.fab.fa-houzz{
        padding: 2px;
      }
    }
    &--moment{
      color: $fontcolor;
      text-align: center;
      line-height: 10vh;
    }
    &--notice{
      color: $black;
      text-align: center;
      line-height: 10vh;
    }
    &--message{
      color: $fontcolor;
      text-align: center;
      line-height: 10vh;
    }
    &--space{
      color: $fontcolor;
    }
  }
  .header-right{
    padding-right: 150px;
    height: 10vh;
    width: 40vw;
    list-style: none;
    display: flex;
    align-items: right;
    justify-content: space-around;
      &--mark{
      color: $black;
      text-align: center;
      line-height: 10vh;
      }
      &--keyword{
      color: $fontcolor;
      text-align: center;
      line-height: 10vh;
      position: relative;
      #search{
        border-radius: 8px 8px;
      }
      .search{
        display: none;
      }
      .fab.fa-sistrix{
        color: $black;
        position: absolute;
        bottom: 39px;
        right: 9px;
      }
      }
      &--icon{
        width: 50px;
        height: 50px;
        border-radius: 50px;
        float: left;
        border: 3px solid white;
        position: absolute;
        right: 495px;
        top: 20px;
        bottom: 50px;
        img{
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
      }
      &--post{
      color: $fontcolor;
      text-align: center;
      background-color: $background;
      padding: 5px;
      width: 80px;
      margin: 30px 0;
      border-radius: 50px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: none;
      line-height: 24px;
      filter: drop-shadow(1px 1px 1px #000);
      height: 24px;
      margin-left: 100px;
      }
      &--login{
      color: $black;
      text-align: center;
      line-height: 10vh;
      }
      &--mypage{
      color: $black;
      text-align: center;
      line-height: 10vh;
      }
  }
}
#accordion {
  border: 1px white solid;
  border-top: none;
  width:100px;
  border-radius: 30px 30px;
}
#accordion dt {
  background: $background;
  padding: 10px;
  border-top: 1px white solid;
  border-radius: 30px 30px;
}
#accordion dt a {
  color: #000;
  text-decoration: none;
  display:block;
  border-radius: 30px 30px;
}
#accordion dd {
  padding: 10px;
  background-color: white;
  border-radius: 30px 30px;
}
