.maincontent{
  width: 100vw;
  height: calc(100vh - 10vh);
  padding-top: 15vh;
  background-color: $fontcolor;
  display: flex;
  justify-content: center;
  .left-content{
    width: 300px;
    height: 700px;
    &-up{
      filter: drop-shadow(1px 1px 1px #000);
      width: 300px;
      height: 350px;
      background-color: $white;
      margin-bottom: 20px;
      .left-content_image{
        width: 300px;
        height:200px;
        img{
          width: 300px;
          height: 200px;
        }
      }
      .left-contents{
        &_name{
          width: 180px;
          height:40px;
          padding: 2px;
          float: right;
          line-height: 60px;
          text-align: left;
        }
        &_nickname{
          width: 180px;
          height:20px;
          padding: 2px;
          float: right;
        }
        .left-contents_list{
          clear: both;
          display: flex;
          justify-content:space-around;
          padding: 5px;
          &_tweet{
            width: 90px;
            height: 60px;
            font-size: 14px;
            line-height: 60px;
          }
          &_follow{
            width: 60px;
            height: 60px;
            font-size: 14px;
            line-height: 60px;
          }
          &_follower{
            width: 60px;
            height: 60px;
            font-size: 14px;
            line-height: 60px;
          }
        }

      }
    }
    &-down{
      filter: drop-shadow(1px 1px 1px #000);
      width: 300px;
      height: 350px;
      background-color: $white;
    }
  }
  .center-content{
    width: 600px;
    padding: 0px 20px 0 20px;
    z-index: 10;
    position: relative;
    .center-contents{
      filter: drop-shadow(1px 1px 1px #000);
      background-color: $white;
      width: 600px;
      position: relative;
      margin-bottom: 5px;
      overflow-y: scroll;
      .content-upper{
        height: calc(100vh - 15%);
        padding: 10px 10px 0 40px;
        height: 100%;
        width: 90%;
        &__name{
          height: 30px;
          float: left;
        }
        &__time{
          margin-left: 5px;
          height: 30px;
          float: left;
        }
        &__text{
          content: "";
          clear: both;
          display: block;
          width: 580px;
        }
          img {
          margin: 0 auto;
          width:auto;
          height:auto;
          max-width:50%;
          max-height:50%;
        }
      }
    }
    .content-down{
      width: 50%;
      height: 30px;
      padding: 0 100px 3px 20px;
      display: flex;
      justify-content: space-around;
      position: relative;
      &__comment{

      }
      &__retweet{

      }
      &__likes{

      }
      &__message{

      }
      &__show{
        font-size: 16px;
        border: 2px solid #DCDCDC;
        padding: 2px 2px;
        text-align: center;
        border-radius: 8px 8px;
        position: absolute;
        bottom: 5px;
        right: 40px;
      }
      &__delete{
        font-size: 16px;
        border: 2px solid #DCDCDC;
        padding: 2px 2px;
        text-align: center;
        border-radius: 8px 8px;
        position: absolute;
        bottom: 5px;
        right: -40px;
      }
    }
  }
  .right-content{
    width: 350px;
    height: 700px;
    &-up{
      filter: drop-shadow(1px 1px 1px #000);
      width: 350px;
      height: 200px;
      background-color: $white;
      margin-bottom: 20px;
    }
    &-down{
      filter: drop-shadow(1px 1px 1px #000);
      width: 350px;
      height: 200px;
      background-color: $white;
    }
  }
}

.fas.fa-heart{
  color: #FF0000;
}
