.maincontent{
  width: 100vw;
  height: 120vh;
  background-color: $fontcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  .left-content{
    width: 300px;
    height: 700px;
    &-up{
      width: 300px;
      height: 100px;
      background-color: $white;
      margin-bottom: 20px;
    }
    &-down{
      width: 300px;
      height: 500px;
      background-color: $white;
    }
  }
  .center-content{
    width: 600px;
    height: 100vh;
    padding: 0 20px;
    margin-top: 250px;
    z-index: 10;
    position: relative;
    .center-contents{
      background-color: $white;
      width: 600px;
      position: relative;
      margin-bottom: 5px;
      .content-upper{
        padding: 10px 10px 0 40px;
        height: 100%;
        width: 90%;
        overflow-y: scroll;
        &__name{
          height: 30px;
          float: left;
        }
        &__time{
          margin-left: 5px;
          height: 30px;
          float: left;
        }
        &__text{
          content: "";
          clear: both;
          display: block;
          width: 580px;
        }
          img {
          margin: 0 auto;
          width:auto;
          height:auto;
          max-width:50%;
          max-height:50%;
        }
      }
    }
    .content-down{
      width: 50%;
      height: 30px;
      padding: 0 100px 3px 20px;
      display: flex;
      justify-content: space-around;
      position: relative;
      &__comment{

      }
      &__retweet{

      }
      &__likes{

      }
      &__message{

      }
      &__show{
        font-size: 16px;
        border: 2px solid #DCDCDC;
        padding: 2px 2px;
        text-align: center;
        border-radius: 8px 8px;
        position: absolute;
        bottom: 5px;
        right: 40px;
      }
      &__delete{
        font-size: 16px;
        border: 2px solid #DCDCDC;
        padding: 2px 2px;
        text-align: center;
        border-radius: 8px 8px;
        position: absolute;
        bottom: 5px;
        right: -40px;
      }
    }
  }
    .content-comment{
      width: 600px;
      height: 130px;
      margin: 0 auto;
      background-color: $maincolor;
      border-radius: 30px;
      cursor: pointer;
      position: relative;
      .commentform{
        padding: 0 20px;
        margin-top: 10px;
        &__input{
          width: 500px;
          height: 50px;
          margin: 20px 50px;
          word-wrap: break-word;
        }
        &__btn{
          color: $fontcolor;
        text-align: center;
        background-color: $background;
        border-radius: 30px 30px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: none;
        line-height: 50px;
        position: absolute;
        right: 50px;
        bottom: 5px;
        width: 500px;
        height: 50px;
        }
      }
    }
    .comment-show{
      background-color: $white;
      width: 600px;
      position: relative;
      margin-bottom: 5px;
      .comment-showbox{
        padding: 10px 10px 0 40px;
        height: 100%;
        width: 90%;
        overflow-y: scroll;
        .comment-forname{
          height: 30px;
        }
        .comment-nickname{
          height: 30px;
          float: left;
        }
        .comment-time{
          margin-left: 5px;
          height: 30px;
          float: left;
        }
        .comment-text{
          content: "";
          clear: both;
          display: block;
          width: 580px;
        }
      }
    }
  .right-content{
    width: 350px;
    height: 700px;
    &-up{
      width: 350px;
      height: 200px;
      background-color: $white;
      margin-bottom: 20px;
    }
    &-down{
      width: 350px;
      height: 200px;
      background-color: $white;
    }
  }
}

.fas.fa-heart{
  color: #FF0000;
}
