.postform{
  padding-top: 10vh;
  width: 100vw;
  height: 100vh;
  .postforms{
    width: 700px;
    height: 500px;
    margin: 0 auto;
    background-color: $maincolor;
    margin-top: 12vh;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #000);
    position: relative;
    &-header{
      width: 700px;
      height: 130px;
      background-color: $white;
      border-radius: 30px 30px 0 0;
      border-bottom: 1px solid #1DA1F2;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      line-height: 130px;
    }
    &-content{
      padding: 0 20px;
      margin-top: 10px;
      &--input{
        width: 500px;
        height: 180px;
        margin: 30px 80px;
        box-shadow: none;
        word-break: normal;
        word-wrap: break-word;
      }
      &--btn{
        // filter: drop-shadow(1px 1px 3px #000);
        color: $fontcolor;
        text-align: center;
        background-color: $background;
        padding: 10px;
        margin: 20px 0;
        border-radius: 30px 30px;
        font-weight: bold;
        cursor: pointer;
        box-shadow: none;
        line-height: 34px;
        position: absolute;
        right: 40px;
        bottom: 20px;
      }
      .image-box{
        width: 150px;
        height: 100px;
        background-color: white;
        position: absolute;
        left: 20px;
        bottom: 30px;
      .fas.fa-image{
        position: absolute;
        left: 47px;
        bottom: 25px;
        }
        .image-box{
          width: 150px;
          position: absolute;
          bottom: -25px;
          left: -45px;
        }
      }
    }
  }
}
